@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  font-family: "Roboto Mono";
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

body {
  color: white;
}

h1 {
  font-size: 48px;
}

h3 {
  font-weight: lighter;
  font-size: 24px;
}

.wrapper-portfolio {
  background-color: #2f2f2f;
  height: 100%;
  margin: auto 20px;
  -webkit-box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.5);
}
.wrapper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
  gap: 40px;
  position: relative;
  padding-left: 40px;
  left: -20px;
}
.wrapper-section-bg {
  background-color: #0085ff;
}
.wrapper-section-nonBG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding: 40px 0;
}

#nav-showbtn {
  position: absolute;
  background-color: red;
  height: 40px;
  width: 30px;
  left: -30px;
  top: 25%;
  display: none;
}
#nav-opt {
  position: absolute;
  background-color: #0085ff;
  -webkit-box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  right: -20px;
  width: 50%;
  z-index: 100;
}
#nav-bar {
  position: relative;
}
#nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#nav-bar li {
  width: 100%;
}
#nav-bar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  font-size: 24;
}
#nav-bar li:hover {
  background-color: #fb442d;
}

.theme-polygon {
  -webkit-filter: drop-shadow(4px 6px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(4px 6px 5px rgba(0, 0, 0, 0.5));
  position: absolute;
  left: 0;
  top: 0;
  height: 20vh;
  width: 100%;
}
.theme-polygon-tail {
  background-color: #005099;
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
}
.theme-polygon-tail-footer {
  background-color: #005099;
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
  top: -5px;
  right: 0;
}
.theme-polygon-tailSection {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  background-color: #005099;
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: -20px;
}
.theme-polygon-header {
  background-image: linear-gradient(45deg, #0085ff, #004382);
  height: inherit;
  width: inherit;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 0);
}
.theme-polygon-footer {
  background-image: linear-gradient(225deg, #0085ff, #004382);
  height: inherit;
  width: inherit;
  -webkit-clip-path: polygon(100% 5%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 5%, 0% 100%, 100% 100%);
  position: absolute;
}
.theme-polygon-footer-wrapper {
  -webkit-filter: drop-shadow(4px 6px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(4px 6px 5px rgba(0, 0, 0, 0.5));
  position: relative;
  height: 20vh;
  width: 100%;
  right: -20px;
  bottom: 0;
}

#header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 960px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20vh 0;
  gap: 100px;
  text-align: center;
}
#header-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#header-name h3 {
  color: #0085ff;
}
#header-quote h3 {
  font-style: italic;
  color: #fb442d;
}

#section-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section-nonBG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-bg {
  background-color: #0085ff;
  -webkit-box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}
.section-title {
  -webkit-filter: drop-shadow(4px 6px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(4px 6px 5px rgba(0, 0, 0, 0.5));
}
.section-title-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fb442d;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  text-align: center;
}
.section-title-bg h1 {
  margin: 5px 20px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.skill-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skill-icon img {
  height: 150px;
  width: 150px;
}

#grid-skills {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  width: 960px;
}
#grid-projects {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  width: 960px;
}

.project-preview {
  background-color: transparent;
  height: 350px;
  width: 250px;
  background-size: cover;
  position: relative;
}
.project-preview img {
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-hover {
  position: absolute;
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-hover:hover {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.project-hover:hover a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
.project-hover a {
  z-index: 1;
  background-color: #fb442d;
  padding: 5px;
  opacity: 0;
}
.project-holder {
  position: absolute;
  bottom: 0;
  width: inherit;
  -webkit-filter: drop-shadow(4px 6px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(4px 6px 5px rgba(0, 0, 0, 0.5));
}
.project-holder-polygon-R {
  -webkit-clip-path: polygon(0 50%, calc(100% + 1px) 0, calc(100% + 1px) calc(100% + 1px), 0 100%);
          clip-path: polygon(0 50%, calc(100% + 1px) 0, calc(100% + 1px) calc(100% + 1px), 0 100%);
  position: absolute;
  background-color: #005099;
  height: 100px;
  width: inherit;
  bottom: 0;
  z-index: 1;
}
.project-holder-polygon-L {
  -webkit-clip-path: polygon(0 0, calc(100% + 1px) 50%, calc(100% + 1px) calc(100% + 1px), 0 100%);
          clip-path: polygon(0 0, calc(100% + 1px) 50%, calc(100% + 1px) calc(100% + 1px), 0 100%);
  position: absolute;
  background-color: #0085ff;
  height: 100px;
  width: inherit;
  bottom: 0;
  z-index: 1;
}
.project-holder-title {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 960px;
  gap: 20px;
}
.about-pic {
  background-color: red;
  height: 300px;
  width: 300px;
}
.about-intro {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
  gap: 50px;
}
.about-intro img {
  width: 200px;
}
.about-intro-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.about-education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: inherit;
}
.about-education-title h3 {
  font-weight: bold;
}
.about-education-wrapper {
  width: 450px;
}
.about-education-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin: 5px 0;
}
.about-education-paragraph ul {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  line-height: 30px;
  display: inline-block;
}
.about-education-paragraph ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  text-align: center;
  position: relative;
}
.contact-p h2 {
  font-weight: lighter;
  font-style: italic;
}
.contact-email h2 {
  font-size: 2em;
}
.contact-resume {
  background-color: #fb442d;
  border: 5px solid #0085ff;
  font-size: 2em;
  padding: 5px 10px;
}
.contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.contact-social img {
  height: auto;
  width: 100px;
}

@media (max-width: 980px) {
  #grid-skills {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  #grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }
  #grid-projects {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .about-intro {
    grid-template-columns: auto;
  }
  .about-education {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  #nav-opt {
    width: 90%;
    right: 0;
  }
  #nav-bar {
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 15vh;
    z-index: 100;
  }
  #nav-bar ul {
    gap: 10px;
  }
  #nav-bar ul li a {
    font-size: 0.7em;
  }

  .section-title-bg h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 395px) {
  .contact-email h2 {
    font-size: 1.5em;
  }
}