// Wrapper
.wrapper {
  &-portfolio {
    background-color: $bgColor;
    height: 100%;
    margin: auto 20px;
    box-shadow: $objectShadow;
  }
}
#nav {
  &-bar {
    background-color: $primaryColor;
    box-shadow: $objectShadow;
    position: absolute;
    margin-top: 20px;
    right: 0;
    width: 50%;
    z-index: 100;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li {
      width: 100%;
      a {
        @include centerFlex;
        height: 50px;
        font-size: 24;
        color: white;
      }
      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
}
.theme {
  &-polygon {
    filter: drop-shadow($objectShadow);
    position: absolute;
    left: 0;
    top: 0;
    height: 20vh;
    width: 100%;
    &-tail {
      background-color: darken($color: $primaryColor, $amount: 20);
      height: 20px;
      width: 20px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
      position: absolute;
      bottom: -10px;
      z-index: -1;
    }
    &-header {
      background-image: linear-gradient(45deg, $primaryColor, #004382);
      height: inherit;
      width: inherit;
      clip-path: polygon(0 0, 0 100%, 100% 0);
    }
  }
}
#header {
  &-content {
    @include centerFlex;
    margin: 0 auto;
    width: 960px;
    flex-direction: column;
    padding: 20vh 0;
    gap: 100px;
    text-align: center;
  }
  &-name {
    @include centerFlex;
    flex-direction: column;
    h3 {
      color: $primaryColor;
    }
  }
  &-quote {
    h3 {
      font-style: italic;
      color: $secondaryColor;
    }
  }
}
.section {
  &-bg {
    background-color: $primaryColor;
  }
  &-title {
    filter: drop-shadow($objectShadow);
    width: 400px;
    &-bg {
      @include centerFlex;
      background-color: $secondaryColor;
      clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
      h1 {
        margin: 10px 0;
      }
    }
  }
}
.skill {
  &-icon {
    img {
      height: 150px;
      width: 150px;
    }
  }
}
