@media (max-width: 980px) {
  #grid {
    &-skills {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media (max-width: 768px) {
  #grid {
    &-skills {
      grid-template-columns: repeat(2, 1fr);
    }
    &-projects {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }

  @include sectionTitle;

  .about {
    &-intro {
      grid-template-columns: auto;
    }
    &-education {
      display: grid;
      grid-template-rows: auto auto;
      row-gap: 20px;
    }
  }
  @include navMobile;
}
@media (max-width: 480px) {
  h3 {
    font-size: 1.1em;
  }
  h2 {
    font-size: 1.2em;
  }
  #header {
    &-content {
      // gap: 50px;
      h1 {
        font-size: 1.5em;
      }
      h3 {
        font-size: 1em;
      }
    }
  }
  #nav-opt {
    a {
      font-size: 0.9em;
    }
  }

  #grid {
    &-skills {
      row-gap: 10px;
    }
  }
  .about {
    &-wrapper {
      p {
        @include mobileParagraph;
      }
      li {
        @include mobileParagraph;
      }
    }
    &-intro {
      // gap: 20px;
      img {
        width: 100px;
      }
      &-p {
        // gap: 20px;
        p {
          margin: 10px 0;
        }
      }
    }
  }
  .skill {
    &-icon {
      img {
        height: 100px;
        width: auto;
      }
    }
  }
  .contact {
    &-resume {
      font-size: 1.5em;
    }
    &-email {
      font-size: 0.8em;
    }
    &-social {
      grid-template-columns: 50px 50px 50px;
    }
  }
}
@media (max-width: 395px) {
  .contact {
    &-email {
      h2 {
        font-size: 1.5em;
      }
    }
  }
}
