@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin centerGrid {
  display: grid;
  justify-items: center;
}
@mixin themeTail {
  background-color: darken($color: $primaryColor, $amount: 20);
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: -1;
  bottom: -10px;
}
// Media Q
@mixin sectionTitle {
  .section {
    &-title {
      &-bg {
        h1 {
          font-size: 1.5em;
        }
      }
    }
  }
}

@mixin navMobile {
  #nav {
    &-opt {
      width: 90%;
      right: 0;
    }
    &-bar {
      position: absolute;
      width: 100%;
      right: 0;
      z-index: 100;
      ul {
        gap: 10px;
      }
    }
  }
  .nav {
    &-list {
      &-mobile {
        li {
          font-size: 1.5em;
          // a {
          // }
        }
      }
      &-show {
        width: 200px;
      }
    }
    &-expandBurger {
      width: 200px;
    }
  }
}

@mixin mobileParagraph {
  font-size: 0.9em;
}
